<%= link_to("<< Back to Index", {:action => 'index'}, :class => 'back-link') %>

<div class="edit user account">
	
	<h2> Edit User Account </h2>
	
	<%= form_for(:user, :url => {:action => 'update', :id => @user.id}) do |f| %>
	
		<table summary="Edit account form fields.">
			<tr>
				<th>Username</th>
				<td><%= f.text_field(:user_name) %><td>
			</tr>
			<tr>
				<th>Email</th>
				<td><%= f.text_field(:email) %><td>
			</tr>
			<tr>
				<th>Password</th>
				<td><%= f.text_field(:password) %><td>
			</tr>
			<tr>
				<th>Is admin</th>
				<td><%= f.radio_button(:admin, true) %>Yes<td>
				<td><%= f.radio_button(:admin, false) %>No<td>
			</tr>
		</table>
		
		<div class="form-buttons">
			<%=submit_tag("Edit account") %>
		</div>
		
	<% end %>
</div>