<%= image_tag('59th_1.jpg', alt: "59th_1", :id => "gallery_image")%>
<!--
<%= image_tag('59th_2.jpg', alt: "59th_2", :id => "gallery_image")%>
<%= image_tag('59th_3.jpg', alt: "59th_3", :id => "gallery_image")%>
<%= image_tag('59th_4.jpg', alt: "59th_4", :id => "gallery_image")%>
<%= image_tag('59th_5.jpg', alt: "59th_5", :id => "gallery_image")%>
-->

<div id="description">
	<%= image_tag('reg-info.png', alt: "reg-info")%>
	<p>We are the 59th regiment of foot, a group of players who enjoy recreating napoleonic era battles. Some more sentences about the 59th which go on for quite some time. We are the 59th regiment of foot, a group of players who enjoy recreating napoleonic era battles. Some more sentences about the 59th which go on for quite some time. We are the 59th regiment of foot, a group of players who enjoy recreating napoleonic era battles. Some more sentences about the 59th which go on for quite some time. We are the 59th regiment of foot, a group of players who enjoy recreating napoleonic era battles. Some more sentences about the 59th which go on for quite some time. We are the 59th regiment of foot, a group of players who enjoy recreating napoleonic era battles. Some more sentences about the 59th which go on for quite some time. We are the 59th regiment of foot, a group of players who enjoy recreating napoleonic era battles. Some more sentences about the 59th which go on for quite some time. We are the 59th regiment of foot, a group of players who enjoy recreating napoleonic era battles. Some more sentences about the 59th which go on for quite some time.</p>
<!--	<%= image_tag('app-info.png', alt: "app-info")%>
	<p>We are the 59th regiment of foot, a group of players who enjoy recreating napoleonic era battles. Some more sentences about the 59th which go on for quite some time. We are the 59th regiment of foot, a group of players who enjoy recreating napoleonic era battles. Some more sentences about the 59th which go on for quite some time. We are the 59th regiment of foot, a group of players who enjoy recreating napoleonic era battles. Some more sentences about the 59th which go on for quite some time. We are the 59th regiment of foot, a group of players who enjoy recreating napoleonic era battles. Some more sentences about the 59th which go on for quite some time. We are the 59th regiment of foot, a group of players who enjoy recreating napoleonic era battles. Some more sentences about the 59th which go on for quite some time. We are the 59th regiment of foot, a group of players who enjoy recreating napoleonic era battles. Some more sentences about the 59th which go on for quite some time. We are the 59th regiment of foot, a group of players who enjoy recreating napoleonic era battles. Some more sentences about the 59th which go on for quite some time.</p>	
--></div>
