<div id="description">
	<%= image_tag('intro.png', alt: "intro")%>
	<p>In this Information guide you will find everything you need to know about the 59th Regiment of Foot and what you can do to start out your boot camp phase. The first thing you need to know is that the 59th is an international regiment but the majority of our numbers situate in Europe.</p>
	<p>We only talk or write English only - there will be no exceptions. In regards to timezone, our regiment utilises GMT (Greenwich Mean Time), or in the Summer, BST (British Summer Time). This means that all events you see on the website are set in this timezone.</p>
	<p>Our events run on the following days on a weekly rotations</p>
	<p>- Wednesday; 19:00hrs - 20:00hrs (GMT) [Recruit & Private Training; rank equivalents may join.]<br />
	- Thursday; 19:00hrs - 20:00hrs (GMT) [59th Hosted Linebattle Event]<br />
	- Saturday; 18:00hrs - 20:00hrs (GMT) [Training, Linebattle Event, Promotions and Regular Tryouts]</p>
	<p>In the event of you being unable to translate the regiment's timezone to your local timezone, we advise using <a href="http://www.timeanddate.com/time/map/">this tool.</a></p>
	
	<%= image_tag('ingame-info.png', alt: "ingame-info")%>
	<p>Your in-game username (or character's name) is built out of three things: The regiments number, your rank and your name. Since you have just joined the 59th Regiment of Foot, your name template looks like this:<br />&#9679 59th_Rct_Name</p>
	<p>Your name will look exactly like this in-game. If it was possible to copy and paste in M&B, this is what you'd copy. Of course you can change the 'Name' bit to what you'd personally like; if everyone was called 'Name' it'd get confusing huh? So when you change your name to this, remember to change the end bit.</p>
	<p>After customising your character, you'll be fronted with page after page of banners.</p>

	<p> ADD FLAGS HERE </p>
	
	<p>Now which do you pick? Basing on which company you belong to, either: Centre, Rifles and Guards, your banner will differentiate. Take a look at what you should use based on your company:</p>

	<%= image_tag('companies-info.png', alt: "companies-info")%>
	<p>The 59th Regiment of Foot runs three companies, which by now you might have guessed are: Centre, Rifles and Guards. Here is a little background information on each company:</p>
	<h3>Centre (Line) Company</h3>
	<p>- This is the "starter" company per s&eacute;. The gameplay style of the line company is that they balance melee and shooting effectively to form the "centre" of the 59th. Centre are generically the largest company which attracts a serious amount of attention on the battlefield. However, they are not to be underestimated - those who fight in the line company are fitted with a level head and the ability to fight well even to the last man.</p>
	<h3>Light (Skirmisher) Company "Moves Like Jaeger"</h3>
	<p>- The Light Company are the finest shooters in the 59th. They are the fastest and most agile company on the battlefield in terms of combat and tactics. These guys are shooting one moment and gone the next. Tailored to those who love shooting and rapid maneuvering, the Light Company is designed for fast paced combat. Those who join the Lights are from all over the world: America, Europe, Asia and various other locations.</p>
	<h3>Royal Guard (Grenadier) Company "Melee and Death"</h3>
	<p>- The Royal Guard's are for those who are exceptional in melee and are able to stand off even in the moment of doubt. These top meleers are always supporting other company's with their ability to neutralise threats against fellow combatants. The Guard Company is for those who work well in a team and enjoy fast-paced melee combat.</p>
	<p>You may use Service Merits to switch company when you have obtained enough. However, it is at the discretion of the Commanding Officer whether to allow the transfer.</p>
	
	<%= image_tag('servers-info.png', alt: "servers-info")%>
	<p>In total, the 59th Regiment of Foot owns five servers:</p>
	&#9679 Napoleonic_Role_Play <br />
	&#9679 59th_Jailbreak <br />
	&#9679 59th_Training (Remember to add this to your favourites!) <br />
	&#9679 59th_Gren <br />
	&#9679 59th_Lights
	<p>Our normal training night take place on the 59th_Training. When we have an event, or training, show up to the server 10-15 minutes early so we can give out the details. Please do not nag for the server details. They will be pasted into the channel chat or will be placed into the description of the channel you are in for the event.<br />The details will not be given out via Steam.</p>
	Click here for an example of server details in a channel description
	<a href="http://puu.sh/imejg/55d41e5050.png">Click here for an example of server details in a channel description.</a>
	
	
	<%= image_tag('final-checklist-info.png', alt: "servers-info")%>
	<br /><br />So you've finally reached the end of the guide (hoorah!) but now, you need to go through and check that you have completed everything above, so, here's a checklist...<br />
	&#9745 You have attended at least one training before being allowed to participate in an event.<br />
	&#9745 You have been given your tags on TeamSpeak (server groups).<br />
	&#9745 Steam Group: Make sure you have been invited to the correct Steam groups and that you are where you need to be.<br />
	&#9745 Make sure your username in-game matches the one on the forums for convenience sakes.<br />
	&#9745 Your character has the following name: 59th_Rct_Name (change the 'Name' bit obviously).<br />
	&#9745 Watch the video about the basic formations below!<br />
	&#9745 Be sure that you have read this guide carefully!<br />
	Should you have any questions, feel free to add any of the following Non-Commissioned Officers on Steam in your respective company:<br />
	
	<p>ADD STEAM LINKS TO COMPANY LEADERS</p>
	
	<iframe width="560" height="315" src="https://www.youtube.com/embed/c9GTyZ2GTF8" frameborder="0" allowfullscreen></iframe>
	
	<!-- ADD SOME MORE SPACE HERE -->
</div>
