<!--
<%= link_to("<< Back to Site", {:controller => 'page', :action => 'index'}, :class => 'back-link') %>
-->

<div class="new recruit app">
	
	<h2 class="application_title"> Create Recruit Application </h2>
	
	<%= form_for(:recruit_application, :url => {:action => 'create'}) do |f| %>
	
		<table summary="Recruit application form fields" class="application">
			<tr>
				<th>Username</th>
				<td><%= f.text_field(:user_name, :size => 40) %><td>
			</tr>
			<tr>
				<th>Email</th>
				<td><%= f.text_field(:email, :size => 40) %><td>
			</tr>
			<tr>
				<th>Age</th>
				<td><%= f.text_field(:age, :size => 40) %><td>
			</tr>
			<tr>
				<th>Do you have TS3?</th>
				<td>
				<%= f.radio_button(:has_ts3, true) %> Yes
				<%= f.radio_button(:has_ts3, false) %> No
				</td>
			</tr>
			<tr>
				<th>Do you have a microphone?</th>
				<td>
				<%= f.radio_button(:has_mic, true) %> Yes
				<%= f.radio_button(:has_mic, false) %> No
				</td>
			</tr>
			<tr>
				<th>Steam profile link</th>
				<td><%= f.text_field(:steam_link, :size => 40) %><td>
			</tr>
			<tr>
				<th>Country</th>
				<td><%= f.text_field(:country, :size => 40) %><td>
			</tr>
			<tr>
				<th>Previous Experience</th>
				<td><%= f.text_field(:new_experience, :size => 40) %><td>
			</tr>
			<tr>
				<th>Which company do you want to join?</th>
				<td>
				<%= f.radio_button(:which_company, 0) %> Centre Comapny<br />
				<%= f.radio_button(:which_company, 1) %> Guard Company<br />
				<%= f.radio_button(:which_company, 2) %> Light Company
				</td>
			</tr>
			<tr>
				<th>Why do you want to join?</th>
				<td><%= f.text_area(:join_reason, :size => "30x4") %><td>
			</tr>
			<tr>
				<th>Can anyone vouch for you?</th>
				<td><%= f.text_field(:vouch, :size => 40) %><td>
			</tr>
		</table>
		
		<div class="submit_button">
      <br/>
			<%=submit_tag("Submit Application") %>
      <br/>
		</div>
		
	<% end %>
</div>